<section class="bg-primary" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Rogue Discord</h2>
                <hr class="light">
                <p class="text-faded"></p>
                <a href="https://discord.gg/ZQj9pSZ">
                    <img src="https://discordapp.com/assets/bb408e0343ddedc0967f246f7e89cebf.svg" alt="" class="wow bounceIn discord-logo btn btn-default btn-xl" data-wow-delay=".1s">
                </a>
            </div>
        </div>
    </div>
</section>
