<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-1 col-lg-offset-2">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000029.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ofensivo
                            </div>
                            <div class="project-name">
                                Genji
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000042.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ofensivo
                            </div>
                            <div class="project-name">
                                McCree
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000008.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ofensivo
                            </div>
                            <div class="project-name">
                                Pharah
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000002.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ofensivo
                            </div>
                            <div class="project-name">
                                Reaper
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E000000000006E.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ofensivo
                            </div>
                            <div class="project-name">
                                Soldado: 76
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000003.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ofensivo
                            </div>
                            <div class="project-name">
                                Tracer
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000015.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Defensivo
                            </div>
                            <div class="project-name">
                                Bastion
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-1 col-lg-offset-2">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000005.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Defensivo
                            </div>
                            <div class="project-name">
                                Hanzo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000065.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Defensivo
                            </div>
                            <div class="project-name">
                                Junkrat
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E00000000000DD.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Defensivo
                            </div>
                            <div class="project-name">
                                Mei
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000006.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Defensivo
                            </div>
                            <div class="project-name">
                                Torbjörn
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E000000000000A.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Defensivo
                            </div>
                            <div class="project-name">
                                Widowmaker
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E000000000007A.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tanque
                            </div>
                            <div class="project-name">
                                D.VA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000007.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tanque
                            </div>
                            <div class="project-name">
                                Reinhardt
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-1 col-lg-offset-2">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000040.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tanque
                            </div>
                            <div class="project-name">
                                Roadhog
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000009.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tanque
                            </div>
                            <div class="project-name">
                                Winston
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000068.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tanque
                            </div>
                            <div class="project-name">
                                Zarya
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000079.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Suporte
                            </div>
                            <div class="project-name">
                                Lúcio
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000004.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Suporte
                            </div>
                            <div class="project-name">
                                Mercy
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000016.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Suporte
                            </div>
                            <div class="project-name">
                                Symmetra
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-1">
                <a href="#" class="portfolio-box">
                    <img src="https://d1u1mce87gyfbn.cloudfront.net/game/heroes/0x02E0000000000020.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Suporte
                            </div>
                            <div class="project-name">
                                Zenyatta
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
